html {
  font-family: monospace;
  max-width: 500px;
  margin: 20px auto;
  /* make sure the scrollbar is always shown so
     the width doesnt change between pages */
  overflow-y: scroll;
}

p {
  font-family: monospace;
  white-space: pre-wrap;
}

nav {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #eaddca;
}

ul a:hover li {
  background-color: #eaddca;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

ul li {
  padding: 0.5rem;
  font-size: 1.1rem;
}

nav a {
  color: #000;
}

nav .left {
	float: left;
}

nav .right {
	float: right;
}

.puny {
  padding-top: 0px;
  color: grey;
  font-size: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: #d4d4d4;
  }

  p {
    color: #d4d4d4;
  }

  a {
    color: #d4d4d4;
  }

  a:hover {
    background-color: #3a3a3a;
  }

  ul a:hover li {
    background-color: #3a3a3a;
  }

  nav a {
    border-bottom: 1px dotted #d4d4d4;
    color: #d4d4d4;
  }

  .puny {
    color: #a0a0a0;
  }
}
