{{ define "discover" }}
{{ template "head" . }}
{{ template "nav" . }}
<h3>discover cool feedz</h3>
<p><a href="https://sequentialread.com">SequentialRead</a> - home computing, depth, green
https://sequentialread.com/rss/

<a href="https://www.themarginalian.org/">themarginalian</a> - philosophy, existentialism, poetry
https://feeds.feedburner.com/brainpickings/rss

<a href="https://computer.rip">computer.rip</a> - computer history, security
https://computer.rip/rss.xml

<a href="https://leahreich.substack.com/">Meets Most</a> - soul, authenticity, tech commentary
https://leahreich.substack.com/feed

<a href="https://kangminsuk.com/">Kang</a> - korean culture, restaurant management, books
https://kangminsuk.com/blog/index.xml

want ur feed here? write me at j<code>3s<code>@<code>c3f<code>.net

hand curated by <a href="https://j3s.sh">jes</a> <3

</p>
{{ template "tail" . }}
{{ end }}
