{{ define "index" }}
{{ template "head" . }}
{{ template "nav" . }}
<pre>
                    hey! hi. you.
                      yes, you.

       you might be wondering what's going on.
       i'm here to help clear things up.

       first of all: where are we? what sort
       of new-york-times-ass looking pile of
       shit has just rendered on your liquid
       crystal display?
       
       don't worry, it's all quite simple.
       
       that piece of shit has a name.
       and that name is vore.


               vore - a feed reader

  features:
    - minimal & reliable
    - handles rss & atom feeds
    - updates all feeds periodically
    - shows you a date-ordered list of posts
    - open source & free of charge forever
      (and not in the shitty open core kind of way)
    - <a href="https://j3s.sh">jes</a> built it

  anti-features:
    - no tags
    - no options
    - no unread indicators or push notifs
    - no comments, upvotes, or ranks
</pre>
{{ template "tail" . }}
{{ end }}
