{{ define "nav" }}
<nav>
	<h2>
		<a href="/">
			vore.website
		</a>
	</h2>
	{{ if .LoggedIn }}
	<a {{ if eq .Title "user" }}style="font-weight: bold;"{{ end }} href="/{{ .Username }}">home</a>
	| <a {{ if eq .Title "saves" }}style="font-weight: bold;"{{ end }} href="/saves">saves</a>
	| <a {{ if eq .Title "finger" }}style="font-weight: bold;"{{ end }} href="/finger">finger</a>
	| <a {{ if eq .Title "settings" }}style="font-weight: bold;"{{ end }} href="/settings">settings</a>
	| <a href="/logout">logout</a>
	{{ else }}
	<a {{ if eq .Title "login" }}style="font-weight: bold;"{{ end }}href="/login">login/register</a>
	{{ end }}
</nav>
{{ end }}
