{{ define "settings" }}
{{ template "head" . }}
{{ template "nav" . }}
<h3>Settings</h3>
<p>your public url: <a href="/{{ .Username }}">vore.website/{{ .Username }}</a>

{{ len .Data }} subscriptions:
</p>
<form method="POST" action="/settings/submit">
<textarea name="submit" rows="10" cols="50">
{{ range .Data -}}
{{ .UpdateURL }}
{{ end -}}
</textarea>
<br>
<input type="submit" value="subscribe">
</form>
{{ $length := len .Data }}
{{ if eq $length 0 }}
<p>
      ‼️ tutorial ‼️

once you have subscribed to some feeds,
their posts will appear on your timeline.

note that all timelines are public ‼️

here are some feed urls to play with
copy them into the text box above
and press [subscribe]

https://100r.co/links/rss.xml
https://begriffs.com/atom.xml
https://blog.passtheballsocrates.com/feed/
https://cyberia.club/blog/blog.xml
https://davebucklin.com/feed.xml
https://facklambda.dev/atom.xml
https://herman.bearblog.dev/feed/
https://icyphox.sh/blog/feed.xml
https://j3s.sh/feed.atom
https://katherine.cox-buday.com/rss.xml
https://sequentialread.com/rss



  /)/)
( . .)
( づ♡
</p>
{{ else if gt $length 0 }}
<p>feed details 👁️👄👁️</p>
{{ end }}
<p>
{{ range .Data -}}
<a href="/feeds/{{ .UpdateURL | escapeURL }}">{{ .UpdateURL }}</a>
{{ end -}}
</p>
{{ template "tail" . }}
{{ end }}
