html {
  font-family: monospace;
  max-width: 500px;
  margin: 10px auto;
  /* make sure the scrollbar is always shown so
     the width doesnt change between pages */
  overflow-y: scroll;
  font-size: 120%;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #eaddca;
}

ul a:hover li {
  background-color: #eaddca;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

ul li {
  padding: 8px 0;
  border-bottom: 1px dotted #888;
  padding: 0.3rem;
  font-size: 1.05rem;
}

nav a {
  border-bottom: 1px dotted #000;
  color: #000;
}

.left-text {
  display: inline-block;
  overflow-wrap: break-word;
  max-width: 80%;
}

.right-text {
  float: right;
  display: inline-block;
}
