{{ define "user" }}
{{ template "head" . }}
{{ template "nav" . }}

{{ $length := len .Data.Items }} {{ if eq $length 0 }}
{{ if .LoggedIn }}
<p>
you don't seem to have any feeds yet.

<a href="/feeds">add your first feed here!</a>
</p>
{{ end }}
{{ end }}
<ul>
{{ range .Data.Items }}
	<li>
	<a href="{{ .Link }}">
		{{ .Title }}
	</a>
	<br>
	<span class=puny title="{{ .Date }}">published {{ .Date | timeSince }} via <a href="//{{ .Link | printDomain }}">{{ .Link | printDomain }}</a></span>
	</li>
{{ end }}
</ul>

{{ template "tail" . }}
{{ end }}
