{{ define "user" }}
{{ template "head" . }}
{{ template "nav" . }}

{{ $length := len .Data.Items }} {{ if eq $length 0 }}
{{ if .LoggedIn }}
<p>
you don't seem to have any feeds yet.

go to <a href="/settings">/settings</a> to add your first feed!
</p>
{{ end }}
{{ end }}
<ul>
{{ range .Data.Items }}
	<li>
	<a href="{{ .Link }}">
		{{ .Title }}
	</a>
	<br>
	<span class=puny title="{{ .Date }}">
		published {{ .Date | timeSince }} via
		<a href="//{{ .Link | printDomain }}">
			{{ .Link | printDomain }}</a>
		| <a href="/save/{{ .Link | escapeURL }}">save</a>
	</span>
	</li>
{{ end }}
</ul>

{{ template "tail" . }}
{{ end }}
